<div class="addressform">
    <h1>Address Form</h1>
    <form #addressForm="ngForm" (ngSubmit)="addressForm.valid && saveData(addressForm)">
        <div class="formline">
            <input type="text" name="firstname" #fname="ngModel" placeholder="First Name" value="{{formData.firstName}}" [(ngModel)]="formData.firstName" required minlength=3>
            <div *ngIf="fname.errors">
                <div *ngIf="fname.touched && fname.errors.minlength">
                    Minimum 3 characters
                </div>
                <div *ngIf="fname.touched && fname.errors.required">
                    This filed is mandatory
                </div>
            </div>
        </div>
        <div class="formline">
            <input type="text" name="lastname" #lname="ngModel" placeholder="Last Name" value="{{formData.lastName}}" [(ngModel)]="formData.lastName" minlength=2>
            <div *ngIf="lname.errors">
                <div *ngIf="lname.touched &&lname.errors.minlength">
                    This filed is err
                </div>
            </div>
        </div>
        <div class="formline">
            <input type="email" name="email" #email="ngModel" placeholder="Email address" value="{{formData.email}}" [(ngModel)]="formData.email" required>
            <div *ngIf="email.errors">
                <div *ngIf=" email.touched && email.errors.required">
                    This is a mandatory field
                </div>
            </div>
        </div>
        <div class="formline">
            <input type="text" name="phone" #phone="ngModel" placeholder="Phone" value="{{formData.phone}}" [(ngModel)]="formData.phone" required pattern="[0-9 ]{10}">
            <div *ngIf="phone.errors">
                <div *ngIf=" phone.touched && phone.errors.pattern">
                    Provide 12 digit number
                </div>
            </div>
        </div>
        <div class="formline">
            &nbsp; &nbsp;<input type="submit" value="Save" *ngIf="formData.id==null" [disabled]="addressForm.invalid"> &nbsp; &nbsp;<input type="submit" value="Update" *ngIf="formData.id!=null" [disabled]="addressForm.invalid"> &nbsp;&nbsp;
            <button type="button" (click)="clear(addressForm)">Cancel</button>
        </div>
    </form>
</div>

<div class="addresstable" *ngIf="addresses.length>0">

    <table border="1">

        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
        <tr *ngFor="let address of addresses">

            <td> {{ address.id }} </td>
            <td> {{ address.firstName }} </td>
            <td> {{ address.lastName }} </td>
            <td> {{ address.email }} </td>
            <td> {{ address.phone }} </td>
            <td> <button (click)="editData(address) ">Edit</button> </td>
            <td> <button (click)="deleteData(address) ">Delete</button> </td>
        </tr>

    </table>

</div>
