<h1> Home Page </h1>
<p>
    This is demo application to learn Angular basic concepts like
</p>
<ul>
    <li>
        How to create Angular application
    </li>
    <li>
        How to create angular components
    </li>
    <li>
        How to do routing to do page navigation
    </li>
    <li>
        How to create Form (Template driven)
    </li>
    <li>
        How to do Save, Update, Read and Delete operation with forms
    </li>
    <li>
        How to integrate with Firebase Firestore cloud database to store data
    </li>
    <li>
        How to do field validation and display error message
    </li>
</ul>
